<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760641056435-j9g0evebpfqg7149ct6g8stkucem9kv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760641056435-j9g0evebpfqg7149ct6g8stkucem9kv7</string>
	<key>API_KEY</key>
	<string>AIzaSyA8bEauco9ln2I2ZL0_NHQPLtrtxujCpD8</string>
	<key>GCM_SENDER_ID</key>
	<string>760641056435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gloopmedia.Collega</string>
	<key>PROJECT_ID</key>
	<string>collega-466a8</string>
	<key>STORAGE_BUCKET</key>
	<string>collega-466a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760641056435:ios:bc57a6093ba893a2</string>
	<key>DATABASE_URL</key>
	<string>https://collega-466a8.firebaseio.com</string>
</dict>
</plist>